<div class="container text-center">
@if(flag === 'events' || flag === 'favorites'){
  @if(eventsList$ | async; as list){
    @switch(list.state){
      @case('loading'){
        <div class="load-container container d-flex justify-content-center align-items-center">
          <dx-load-indicator
            [visible]="true"
            id="large-indicator"
            [height]="40"
            [width]="40">
          </dx-load-indicator>
        </div>
      }
      @case('success'){
        <div class="row justify-content-center align-items-center">
          @for(event of list.data; track event.id){
          <div class="custom-width col-lg-4 col-md-6">
              <app-event-card 
              [event]="event"
              (cardClick)="eventClick(event.id)"
              (follow)="eventFollowClick(event)"
              ></app-event-card>
          </div>
          }
          @empty{
            <p class="mt-3">Brak wydarzeń!</p>
          }
        </div>
      }
      @case('error'){
        <p class="text-danger">Wystąpił błąd.</p>
      }
    }
  }
}@else if(flag === 'workshops'){
  @if(workshopsList$ | async; as list){
    @switch(list.state){
      @case('loading'){
        <div class="load-container container d-flex justify-content-center align-items-center">
          <dx-load-indicator
            [visible]="true"
            id="large-indicator"
            [height]="40"
            [width]="40">
          </dx-load-indicator>
        </div>
      }
      @case('success'){
        <div class="row justify-content-center align-items-center">
          @for(workshop of list.data; track workshop.id){
          <div class="custom-width col-lg-4 col-md-6">
              <app-workshop-card 
              [workshop]="workshop"
              (cardClick)="workshopClick(workshop.id)"
              ></app-workshop-card>
          </div>
          }
          @empty{
            <p class="mt-3">Brak warsztatów!</p>
          }
        </div>
      }
      @case('error'){
        <p class="text-danger">Wystąpił błąd.</p>
      }
    }
  }
}
</div>