@if(combined$ | async; as conditions){
  @if(conditions.flag === flags.ADD || conditions.flag === flags.EDIT){
<dx-popup
  [visible]="conditions.isVisible"
  [maxWidth]="500"
  [maxHeight]="500"
  title="Wydatek"
  class="custom-popup mt-2"
  [dragEnabled]="false"
  [showCloseButton]="false"
  [hideOnOutsideClick]="false"
  (onHidden)="close()">
  <div class="container">
    <form [formGroup]="expenseForm" (ngSubmit)="submit()">
    <div class="expense-container container mb-1">
      <p>Typ wydatku</p>
      <div class="form-check">
        <input class="form-check-input" id="fuel" name="type" type="radio"  [value]="expenseTypes.FUEL" formControlName="type">
        <label class="form-check-label" for="fuel">Tankowanie</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" id="service" name="type" type="radio" [value]="expenseTypes.SERVICE" formControlName="type">
        <label class="form-check-label" for="service">Serwis</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" id="parking" name="type" type="radio" [value]="expenseTypes.PARKING" formControlName="type">
        <label class="form-check-label" for="parking">Parking</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" id="other" name="type" type="radio" [value]="expenseTypes.OTHER" formControlName="type" >
        <label class="form-check-label" for="other">Inne</label>
      </div>
    </div>

    <div class="container container-price mb-1">
      <label class="price-text">Kwota</label>
      <input class="form-control" formControlName="price"> 
    </div>

    <div class="container container-date mb-1">
      <label class="date-text">Data</label>
      <input class="form-control" type="date" onkeydown="return false" formControlName="date"> 
    </div>
    
    <div class="container container-date mb-2">
      <label class="date-text">Krótki opis</label>
      <textarea
        class="form-control"
        rows="2"
        formControlName="description"></textarea>
    </div>

    <div class="container button-container d-flex justify-content-end">
      <button class="btn btn-success me-4" type="submit" [disabled]="!expenseForm.valid || (conditions.flag === flags.EDIT && expenseForm.pristine)">Ok</button>
      <button class="btn btn-danger" type="button" (click)="closePopup()">Anuluj</button>
    </div>
  </form>
  </div>   
</dx-popup>
}
@else if(conditions.flag === flags.DELETE || conditions.flag === flags.DELETEREGISTRY || conditions.flag === flags.DELETECAR){
  <dx-popup
  [visible]="conditions.isVisible"
  [maxWidth]="400"
  [maxHeight]="180"
  title="Chcesz kontynuować?"
  class="custom-popup mt-2"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  (onHidden)="close()">
  <div class="container">
    <div class="container">
      <p>Czy na pewno chcesz usunąć dane?</p>
    </div>
    <div class="container button-container d-flex justify-content-end">
      <button class="btn btn-success me-4" (click)="submit()">Tak</button>
      <button class="btn btn-danger" type="button" (click)="closePopup()">Nie</button>
    </div>
  </div>   
</dx-popup>
}@else if(conditions.flag === flags.EDITREGISTRY){
  <dx-popup
  [visible]="conditions.isVisible"
  [maxWidth]="500"
  [maxHeight]="480"
  title="Dziennik"
  class="custom-popup mt-2"
  [dragEnabled]="false"
  [showCloseButton]="false"
  [hideOnOutsideClick]="false"
  (onHidden)="close()">
  <div class="container">
    <form [formGroup]="registryForm" (ngSubmit)="submit()">
    
    <div class="container container-price mb-1">
      <label class="course-text">Przebieg</label>
      <input class="form-control" formControlName="course"> 
    </div>

    <div class="container container-date mb-1">
      <label class="insurance-text">Ubezpieczenie</label>
      <input class="form-control" type="date" onkeydown="return false" formControlName="insurance"> 
    </div>
    
    <div class="container container-date mb-1">
      <label class="tech-text">Przegląd techniczny</label>
      <input class="form-control" type="date" onkeydown="return false" formControlName="tech"> 
    </div>
    
    <div class="container container-price mb-1">
      <label class="engine-text">Olej silnikowy</label>
      <input class="form-control" formControlName="engineOil"> 
    </div>
    
    <div class="container container-price mb-1">
      <label class="transmission-text">Olej w skrzyni biegów</label>
      <input class="form-control" formControlName="transmissionOil"> 
    </div>
    
    <div class="container container-price mb-1">
      <label class="brakes-text">Płyn hamulcowy</label>
      <input class="form-control" formControlName="brakes"> 
    </div>

    <div class="container button-container d-flex justify-content-end">
      <button class="btn btn-success me-4" type="submit" [disabled]="!registryForm.valid || registryForm.pristine">Ok</button>
      <button class="btn btn-danger" type="button" (click)="closePopup()">Anuluj</button>
    </div>
  </form>
  </div>   
</dx-popup>
}@else if(conditions.flag === flags.ADDCAR || conditions.flag === flags.EDITCAR){
  <dx-popup
  [visible]="conditions.isVisible"
  [maxWidth]="500"
  [maxHeight]="280"
  title="Pojazd"
  class="custom-popup mt-2"
  [dragEnabled]="false"
  [showCloseButton]="false"
  [hideOnOutsideClick]="false"
  (onHidden)="close()">
  <div class="container">
    <form [formGroup]="carForm" (ngSubmit)="submit()">
    
    <div class="container mb-1">
      <label class="name-text">Nazwa</label>
      <input class="form-control" formControlName="name" maxlength="25"> 
    </div>

    <div class="container mb-1">
      <label class="photo">Zdjęcie</label>
      <input 
        id="photoURL" 
        type="file" 
        class="form-control" 
        formControlName="photoURL"
        accept=".jpg,.jpeg,.png,.bmp"
        (change)="sendPhoto($event)">
    </div>

    
    <div class="container button-container d-flex justify-content-end mt-4">
      <button class="btn btn-success me-4" type="submit" [disabled]="!carForm.valid || (conditions.flag === flags.EDITCAR && carForm.pristine)">Ok</button>
      <button class="btn btn-danger" type="button" (click)="closePopup()">Anuluj</button>
    </div>
    
  </form>
  </div>   
</dx-popup>
}
}