.form-check-input:checked {
  background-color: orange; 
  border-color: orange;
}

.form-check-input:checked:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.25);
}

.form-control:focus{
  border-color: rgba(255, 165, 0, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.25);
}

::ng-deep .dx-overlay-wrapper .dx-popup-content,
::ng-deep .dx-overlay-wrapper .dx-popup-title ,
::ng-deep .dx-overlay-wrapper:focus-within .dx-popup-title:focus-within ,
::ng-deep .dx-overlay-wrapper:focus-within .dx-popup-title:focus-within {
  border: 0.5px solid orange;
  border-radius: 8px 8px 0 0; 
}

::ng-deep .dx-overlay-wrapper .dx-popup-content {
  border-top: none;
  border-radius: 0 0 8px 8px;
}

::ng-deep .dx-popup-content,
::ng-deep .dx-popup-title{
  font-size: 1rem;
}

::ng-deep .dx-overlay-wrapper .dx-overlay-content.dx-popup-normal.dx-resizable {
  border: 0.5px solid orange;
  border-radius: 8px;
}

::ng-deep .dx-overlay-wrapper .dx-overlay-content.dx-popup-normal.dx-resizable:focus-within {
  border: 0.5px solid orange;
}
