@if(combined$ | async; as conditions){
<dx-popup
  [visible]="conditions.isVisible"
  [maxWidth]="500"
  [maxHeight]="500"
  title="Wydatek"
  class="custom-popup mt-2"
  [dragEnabled]="false"
  [showCloseButton]="false"
  [hideOnOutsideClick]="false"
  (onHidden)="close()">

  @if(conditions.flag === flags.ADD || conditions.flag === flags.EDIT){
    <app-popup-expense-form [flag]="conditions.flag"></app-popup-expense-form>
  }@else if(conditions.flag === flags.DELETE || conditions.flag === flags.DELETEREGISTRY || conditions.flag === flags.DELETECAR){
    <app-popup-delete [flag]="conditions.flag"></app-popup-delete>
  }@else if(conditions.flag === flags.EDITREGISTRY){
    <app-popup-registry-form [flag]="conditions.flag"></app-popup-registry-form>
  }@else if(conditions.flag === flags.ADDCAR || conditions.flag === flags.EDITCAR){
    <app-popup-car-form [flag]="conditions.flag"></app-popup-car-form>
  }
</dx-popup>
}
<!-- @else if(conditions.flag === flags.DELETE || conditions.flag === flags.DELETEREGISTRY || conditions.flag === flags.DELETECAR){
  <dx-popup
  [visible]="conditions.isVisible"
  [maxWidth]="400"
  [maxHeight]="180"
  title="Chcesz kontynuować?"
  class="custom-popup mt-2"
  [dragEnabled]="false"
  [showCloseButton]="false"
  [hideOnOutsideClick]="false"
  >
    
</dx-popup>
}@else if(conditions.flag === flags.EDITREGISTRY){
  <dx-popup
  [visible]="conditions.isVisible"
  [maxWidth]="500"
  [maxHeight]="480"
  title="Dziennik"
  class="custom-popup mt-2"
  [dragEnabled]="false"
  [showCloseButton]="false"
  [hideOnOutsideClick]="false"
  >
  
</dx-popup>
}@else if(conditions.flag === flags.ADDCAR || conditions.flag === flags.EDITCAR){
  <dx-popup
  [visible]="conditions.isVisible"
  [maxWidth]="500"
  [maxHeight]="280"
  title="Pojazd"
  class="custom-popup mt-2"
  [dragEnabled]="false"
  [showCloseButton]="false"
  [hideOnOutsideClick]="false"
  (onHidden)="close()"> 
</dx-popup>
} -->
