.vs/*
Backend/bin/
Backend/obj/
Backend/.vs/
Backend/*.user
Backend/*.suo
Backend/*.swp
Backend/Properties/PublishProfiles/*

# Ignorowanie systemowych plików tymczasowych
Thumbs.db
Desktop.ini
.DS_Store
*.log

# Ignorowanie plików edytorów i IDE
.idea/
*.code-workspace

# Ignorowanie plików tymczasowych, zależności i buildów
*.tmp
*.temp
*.swp

