.event-card{
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: orange;
  height: 300px;
  width: 300px;
  margin: auto;
  overflow: hidden;
}

.name-container{
  padding-top: 8px;
  padding-left: 3px;
  font-family: sans-serif;
  font-size: 25px;
}

.p-name{
  margin: 0px;
  white-space: nowrap;   
  overflow: hidden;           
  text-overflow: ellipsis;  
  max-width: 100%;          
  display: block;
}

.event-image{ 
  object-fit: cover;
  height: 150px;
  padding-left: 3px;
  padding-right: 3px;
}

.desc-container{
  padding-left: 3px;
  padding-right: 3px;
}

.mat-icon.mat-orange{
  color: rgb(182, 123, 13);
}

.desc-text {
  font-size: 18px;
  margin-left: 8px;
  max-width: 130px;
  overflow: hidden;
  white-space: nowrap;
}

.follow-btn-container{
  .mat-icon.mat-orange, .mat-icon.mat-white{
    transform: scale(0.75);
    vertical-align: middle;
  }
}

button{
  cursor: pointer;
}

.follow-btn{
  height: 40px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(182, 123, 13);
  font-size:15px;
}

.followed-btn{
  height: 40px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(182, 123, 13);
  color: white;
  font-size: 15px;
  background-color: rgb(182, 123, 13);
}

.follow-text-container,
.location-container,
.date-container{
  display: flex;
  align-items: center;
}

.follow-text{
  font-size: 18px;
}

.verify-text{
  margin-top: 1px;
  font-size: 10px;
}

.verify-container .mat-icon{
  transform: scale(0.6);
  vertical-align: middle;
}
.verify-container .mat-icon.mat-orange{
  color: rgb(152, 114, 11);
}

.verify-container .mat-icon.mat-grey{
  color: rgb(102, 102, 102);
}

