<div class="comment-card-container">
  <div class="card">
    <div class="row d-flex">
      <div class="col container-img ms-2 d-flex justify-content-center align-items-center ">
        <img [src]="value.userPic">
      </div>
        <div class="col">
      <div class="comment-info">
        <span class="username">{{ value.username }}</span>
      </div>
      <div class="date col">
        <span class="date">{{ value.timestamp }}</span>
      </div>
    </div>
  </div>
    <div class="comment-text">
      <p class="comment px-3">{{ value.content }}</p>
    </div>
  </div>
</div>
