.username{
  left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

// .date{
//   float: right;
// }

.card{
  border-width: 0;
}

img{
  width: 40px; height: 40px; border-radius: 50%;
}

.container-img{
  max-width: 70px;
}