.data-container {
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(226, 223, 223);
}

.load-container{
  margin-top: 150px;
}

.image-container {
  padding-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.image {
  max-height: 400px;
  width: 100%;
  max-width: 800px;
  object-fit: contain;
}

.workshop-name {
  font-family: sans-serif;
  font-size: 40px;
  margin-top: 50px;
  text-align: center;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.mat-icon.mat-orange{
  color: rgb(182, 123, 13);
}

.tag{
  padding-top: 4px;
}

.icons-container {
  padding-left: 3px;
  margin-bottom: 30px;
}

.location-container, .tags-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.location-container .desc-text, .tags-container .desc-text {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: wrap;
  max-width: calc(100% - 40px);
}

.desc-text {
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-left: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word; 
  max-width: calc(100% - 40px);
}

.follow-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

button {
  cursor: pointer;
}

.follow-btn-container {
  padding-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.follow-btn, .followed-btn {
  width: 270px;
  height: 60px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
}

.follow-btn {
  border-color: rgb(182, 123, 13);
  background-color: transparent;
}

.followed-btn {
  border-color: rgb(182, 123, 13);
  background-color: rgb(182, 123, 13);
  color: white;
}

.follow-text-container {
  margin-bottom: 20px;
}

.follow-text {
  font-size: 18px;
  text-align: center;
}

.description {
  overflow-wrap: break-word;
}

.text-container{
  margin-bottom: 50px;
  width: 100%;
  overflow: hidden;
}

.comments-container {
  padding-top: 50px;
  padding-bottom: 30px;
}
