.dx-toast {
  max-width: 90%; /* Ustawienie maksymalnej szerokości na 90% szerokości ekranu */
  word-wrap: break-word; /* Umożliwia łamanie długich wyrazów */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Dodanie cienia dla lepszej estetyki */
}