@if(workshop$ | async; as workshop){
  @if(tags$ | async; as tags){
  @if(workshop.state === 'success' && tags.state === 'success'){
<div class="container my-4 comments-container">
    <p class="new-text text-center">Edycja warsztatu</p>
    <dx-form
      #form
      [formData]="workshop.data"
      >
      <dxi-item 
          itemType="group">

          <dxi-item 
            dataField="name">
            <dxo-label
              text="Nazwa"
            >
            </dxo-label>
            <dxi-validation-rule
            type="required"
            message="Pole wymagane."
          >
        </dxi-validation-rule>
          </dxi-item>

          <dxi-item dataField="location">
            <dxo-label
              text="Miejscowość"
            >
            </dxo-label>
            <dxi-validation-rule
            type="required"
            message="Pole wymagane."
          >
        </dxi-validation-rule>
          </dxi-item>
          
          <dxi-item dataField="address">
            <dxo-label
              text="Adres"
            >
            </dxo-label>
            <dxi-validation-rule
            type="required"
            message="Pole wymagane."
          >
        </dxi-validation-rule>
          </dxi-item>

        <dxi-item class="my-5">
          <div class="d-flex justify-content-center align-items-center">
            <img style="width:290px; height: 145px;" [src]="workshop.data.image">
          </div>
        </dxi-item>

        <dxi-item>
          <dxo-label text="Zdjęcie" dataField="photoURL"></dxo-label>
          <input
            type="file"
            id="photo-upload"
            (change)="handlePhotoUpload($event)"
            accept="image/*"
          />
        </dxi-item>

        <dxi-item >
          <dxo-label text="Województwo"></dxo-label>
          <dx-select-box
                id="show-scrollbar-mode"
                [inputAttr]="{ 'aria-label': 'Show Scrollbar Mode' }"
                [items]="voivodeships"
                [(value)]="workshop.data.voivodeship"
                >
          </dx-select-box>
          <dxi-validation-rule
            type="required"
            message="Pole wymagane."
          >
          </dxi-validation-rule>
        </dxi-item>


        <dxi-item itemType="group" caption="Tagi" dataField="tags">
          @for(tag of tags.data; track tag){
          <div class="py-1">
            <dx-check-box
              [isValid]="checkboxesValid"
              [(value)]="tag.selected"
              [text]="tag.name"
              (onValueChanged)="onTagChanged(tag)">
            </dx-check-box>
          </div>
        }
        <dxi-validation-rule
            type="required"
            message="Pole wymagane."
          >
          </dxi-validation-rule>
      </dxi-item>

        <dxi-item dataField="description">
          <dxo-label text="Opis"></dxo-label>
        
          <dx-text-area
          [minHeight]="50"
          [maxHeight]="300"
          [autoResizeEnabled]="true"
          [(value)]="workshop.data.description"
          (onChange)="textChange(workshop.data.description)"
          [isValid]="textAreaValid"
          >
          </dx-text-area>
          <dxi-validation-rule
          type="required"
        >
        </dxi-validation-rule>
        </dxi-item> 

      </dxi-item>
    </dx-form>
    <div class="container my-5 d-flex justify-content-center align-items-center">
      <button class="mb-5 btn btn-success" (click)="submit()" [disabled]="!isFormValid()">Zaakceptuj</button>
    </div>
    
  </div>
}
}}