<div class="container my-4 comments-container">
  <p class="new-text text-center">Edycja wydarzenia</p>
  <dx-form
    [formData]="employee"
    [colCount]="2">
    <dxi-item 
        itemType="group" 
        caption="Personal Information">
        <dxi-item dataField="name"></dxi-item>
        <dxi-item dataField="position"></dxi-item>
        <!-- <dxi-item>
          <dxo-label text="Dataaa">

          </dxo-label>
          <dx-date-box
            displayFormat="yyyy-MM-dddd"
            [(value)]="employee.hireDate"
            applyValueMode="useButtons"
            >
          </dx-date-box>
        </dxi-item> -->
        <dxi-item
          dataField="hireDate"
          editorType="dxDateBox"
          
          [editorOptions]="dateBoxOptions"
        >
          <dxo-label text="Date of birth"> </dxo-label>
          <dxi-validation-rule
            type="required"
            message="Date of birth is required"
          >
        </dxi-validation-rule>
      </dxi-item>
        <dxi-item dataField="officeNumber"></dxi-item>
    </dxi-item>
    <dxi-item itemType="group" caption="Contacts">
        <dxi-item dataField="phone"></dxi-item>
        <dxi-item dataField="skype"></dxi-item>
        <dxi-item dataField="email" type=""></dxi-item>
    </dxi-item>

    <dxi-item itemType="group" caption="Tagi">
    @for(tag of tagList; track tag.id){
      <div>
        <dx-check-box
          [(value)]="tag.selected"
          [text]="tag.nazwa"
        ></dx-check-box>
      </div>
    }
  </dxi-item>

  <dxi-item itemType="group" caption="Photo Uploader">
    <dx-file-uploader
      [(value)]="uploadedFiles"
      [multiple]="false"
      [accept]="'image/*'"
      [uploadMode]="'useButtons'"
      (onUploaded)="handlePhotoUpload($event)">
    </dx-file-uploader>
  </dxi-item>
  <dxi-item itemType="group" caption="Photo Uploader">
  <dx-select-box
        id="show-scrollbar-mode"
        [inputAttr]="{ 'aria-label': 'Show Scrollbar Mode' }"
        [items]="showScrollbarModes"
        valueExpr="value"
        displayExpr="text"
        [(value)]="employee.voiv"
      >
      </dx-select-box>
      </dxi-item>
  </dx-form>
  <button (click)="cos()">gdrf</button>
</div>



  
