<div class="comments-container">
  <div class="comments">
    <input #textinput class="input-comment" type="text" (input)="onInput(textinput.value)" (keyup.enter)="!isInputEmpty ? '' : sendComment(textinput.value); textinput.value=''" placeholder="Napisz komentarz">
    <button disabled class="comment-button" (click)="sendComment(textinput.value); textinput.value=''" [disabled]="!isInputEmpty">Publikuj</button>
    @if(comments$ | async; as comments){
      @switch(comments.state){
        @case('loading'){
          <div class="load-container container d-flex justify-content-center align-items-center">
            <dx-load-indicator
              [visible]="true"
              id="large-indicator"
              [height]="40"
              [width]="40">
            </dx-load-indicator>
          </div>
        }
        @case('success'){
          @for(comment of comments.data; track comment.id){
            <app-comment-card [value]="comment"/>
          }@empty {
            <p>Brak komentarzy.</p>
          }
        }
        @case('error'){
          <p>{{ comments.error }}</p>
        }
        
      }
    }
  </div>
</div>