.custom-width{
  flex: 1 0 auto; 
  margin-bottom: 10px;
}

.title-text{
  margin-top: 0;
  font-weight: 100;
  font-size: 20px;
}

summary{
  color: orange;
}

input[type="checkbox"] {
  cursor: pointer;
  accent-color: orange;
}

.add-btn{
  border-color: orange;
  border-radius: 10px;
  border-width: 1px;
  font-size: 20px;
  float: left;
  left: 0;
  color: #495057;
}

.del-btn{
  border-radius: 10px;
  border-width: 1px;
  font-size: 20px;
}

.load-container{
  width: 100%;
}
