<div class="row justify-content-center align-items-center">
  @if(list$ | async; as list){
    @switch(list.state){
      @case('loading'){
        <div class="load-container container d-flex justify-content-center align-items-center">
          <dx-load-indicator
            [visible]="true"
            id="large-indicator"
            [height]="40"
            [width]="40">
          </dx-load-indicator>
        </div>
      }
      @case('success'){
        @for(expense of list.data; track expense.id){
          <app-expense-card [value]="expense"></app-expense-card>
        }@empty{
          <p>Brak wpisów!</p>
        }
      }
    }
  }
  </div>
  
  